body {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.header-links {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

.description {
    display: flex;
}

.sign-up {
    display: flex;
    flex-direction: column;
}