body {
    display: flex;
    flex-direction: column;
    font-family: Arial, serif;
}

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo
{
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
}

.description {
    display: flex;
}

.sign-up {
    display: flex;
    flex-direction: column;
}