body {
    display: flex;
    flex-direction: column;
    font-family: Arial, serif;
    margin: 0px;
}

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 120px;
    padding-bottom: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo
{
    font-size: 24px;
}

ul {
    list-style-type: none;
}

.description {
    display: flex;
    flex: 1;
    margin: auto;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 250px;
}

img,
.sign-up {
    max-width: 400px;
}

.header-logo,
.main-text {
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    flex-basis: 0;
    align-self: flex-start;
    border-radius: 6px;
    border: none;
}